* {box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; background-color: beige
}

div { padding: 10px;}

button { padding: 5px; color: rgb(20, 19, 19); background-color: orange}

p {color: red; font-style: italic;}

img { max-width: 300px; max-height: 300px; padding-right:5px}



/* .hidden { display: none} */

